.collapsible{
  background-color:#0789b4;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  }

.content {
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
 

}
